/*---------------------------------------------- ----------News Basic ----------------------------------------------------------*/

.news {
  height: 100vh;
  text-align: center;
  background-color: var(--gray);
}

.news > h1,
p {
  top: 10%;
  position: relative;
  font-size: 2.44em;
  /* font-family: ; */
  font-weight: bold;
}

.news p {
  margin-top: 0.33em;
  font-size: 1.5625em;
  line-height: 1.5;
  font-weight: lighter;
}

/*-------------------------------------------------------- Card prop --------------------------------------------------------------*/
.cards {
  position: relative;
  top: 10%;
}

/* grid prop */
.cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* padding: 10px; */
  gap: 10px;
  margin: 2em 3em;
}

.cards > div {
  background-color: var(--yellow);
  text-align: center;
  overflow: none;
  border-radius: 1%;
}

/*---------------------------------------------------------------------------- Div span --------------------------------------------*/
.item1 {
  grid-column: 1 / 3;
}

.item2 {
  grid-column: 3 / 4;
}

.item3 {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}

.item5 {
  grid-column: 2 / 4;
}

/* image positon */

.grid-container div > img {
}

/* Polaroid css */

div.container {
  text-align: center;
  padding: 10px 20px;
}

.cards {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  grid-auto-rows: auto;

  grid-gap: 1rem;

  margin: 40px 90px;
}

.card {
  border: 2px solid #e7e7e7;

  border-radius: 4px;

  padding: 0.5rem;
}

.card:hover {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

/* -------------------------------------------------------------------Image css--------------------------------------------------------------------------------- */

.card > img {
  width: 100px;
  height: 100px;
}
