.news {
    height: 100vh;
    text-align: center;
    background-color: var(--gray);

}

.news >  h1,p{
    top: 10%;
    position: relative;
    font-size: 2.44em;
    /* font-family: ; */
    font-weight: bold;

}

.news p{
    margin-top: 0.33em;
    font-size: 1.5625em;
    line-height: 1.5;
    font-weight: lighter;
}
.flex-container{
    background-color: blue;
    position: relative;
    top: 10%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.flex-container > div{
    background-color: DodgerBlue;
    color: white;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}